<html>
<head>
  <title>ISU Course Review</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <link href="/stylesheets/style.css" rel="stylesheet">

  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="CourseReview">

  

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <ol class="breadcrumb" ng-controller="NavCtrl">
        <li><a href="#/home">Home</a></li>
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
        <span id="logo"><img src="/images/isu-logo.png"></span>
      </ol>
      <ui-view></ui-view>
    </div>
  </div>
</body>

<!-- Vendor -->
  <script type="text/javascript" src="javascript/vendor/jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="javascript/vendor/angular.js"></script>
  <script src="javascript/vendor/angular-ui-router.js"></script>

<!-- App -->
  <script src="javascript/angularApp.js"></script>
  <script src="javascript/angularRoutes.js"></script>

<!-- Services -->
  <script src="javascript/services/posts.js"></script>
  <script src="javascript/services/sharedid.js"></script>
  <script src="javascript/services/auth.js"></script>

<!-- Controllers -->
  <script src="/javascript/controllers/DepertmentController.js"></script>
  <script src="/javascript/controllers/CoursesController.js"></script>
  <script src="/javascript/controllers/FacultiesController.js"></script>
  <script src="/javascript/controllers/ReviewsController.js"></script>
  <script src="/javascript/controllers/AuthenticationController.js"></script>
  <script src="/javascript/controllers/NavigationController.js"></script>

</html>