body {
  font: 16px "Sans-Serif", Tahoma, Geneva, sans-serif;
  color: #404040;
}

a {
  color: #00B7FF;
}

.rating-static {
  width: 60px;
  height: 16px;
  display: block;
  background: url('/images/star-rating.png') 0 0 no-repeat;
}

.rating-5 { background-position: 0 0; }
.rating-4 { background-position: -12px 0; } 
.rating-3 { background-position: -24px 0; }
.rating-2 { background-position: -36px 0; }
.rating-1 { background-position: -48px 0; }


#logo>img{
	float: right;
	height: 120px;
	width: 120px;
}

.upvotes-like{
	margin-left: 5px;
	font-size: 15;
  font-weight: bold;
  text-shadow: 2px 2px #e6e5e5;
}

.like-button:hover{
	box-shadow: 2px 2px #e6e5e5;
}

.loginToggle{
  margin-top: 20px;
  display: block;
  align: center;
}

.header{
  text-align: center;
  font-family: "Segoe UI";
  font-size: 24px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 24px;
  text-shadow: 2px 2px #e6e5e5;
}

.dept-name{
  margin-left: 10px;
}

.dept-name:hover{
  text-shadow: 2px 2px #e6e5e5;
}

.course-name{
  text-transform: uppercase;
}